body {
    background-color: rgb(241, 241, 241);
}

.banner {
    display: flex;
    height: 12rem;
    background: url("./assets/image/banner.jpg");
    background-size: cover;
    background-position: right;
    opacity: 80%;
    align-items: center;
    
}

.banner div {
    margin: auto;
}

.banner h1 {
    margin: auto;
    width: 8.75rem;
    padding: 0.875rem;
    text-align: center;
    border-radius: 0.25rem;
    border: 1px solid rgb(145, 145, 145);
    background-color: rgb(240, 220, 170);
    color: #010101;
}

.banner p {
    margin: 0.5rem auto;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid rgb(145, 145, 145);
    background-color: rgb(241, 241, 241);
    color: #010101;
}

.container h1 {
    font-size: 1.75rem;
    margin-top: 1.25rem;
    margin-bottom: 0.6rem;
}

.list-group-horizontal {
    margin-bottom: 0.5rem;
}

#infos .list-group-item:nth-child(1) {
    min-width: 54.5%;
}

#infos .list-group-item:nth-child(2) {
    min-width: 44.5%;
}

#statistics .list-group-item:nth-child(1) {
    min-width: 65%;
}

#statistics .list-group-item:nth-child(2) {
    min-width: 35%;
}

#news .card-text {
    min-height: 96px;
}

#login .btn-secondary {
    width: 47%;
    margin-right: 0.4375rem;
}

#login .btn-outline-secondary {
    width: 49%;
}

#motives .card iframe {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

#motives .card p {
    margin-bottom: 0;
}

#map .card .row:nth-child(2) .card-body, #map .card .row:nth-child(3) .card-body {
    padding-top: 0;
    padding-bottom: 0.5rem;
}

#footer {
    margin-top: 0.75rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}

#footer p {
    text-align: center;
    margin-bottom: 0.25rem;
}
