body {
    background-color: rgb(241, 241, 241);
}

.banner {
    display: flex;
    height: 12rem;
    background: url("/assets/image/banner.jpg");
    background-size: cover;
    background-position: right;
    opacity: 80%;
    align-items: center;
    
}

.banner div {
    margin: auto;
}

.banner h1 {
    margin: auto;
    width: 8.75rem;
    padding: 0.875rem;
    text-align: center;
    border-radius: 0.25rem;
    border: 1px solid rgb(145, 145, 145);
    background-color: rgb(247, 140, 140);
    color: #010101;
}

.banner p {
    margin: 0.5rem auto;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid rgb(145, 145, 145);
    background-color: rgb(241, 241, 241);
    color: #010101;
}

.container h1 {
    font-size: 1.75rem;
    margin-top: 1.25rem;
    margin-bottom: 0.6rem;
}

.list-group-horizontal {
    margin-bottom: 0.5rem;
}

.list-group-item {
    width: 100%;
}